@model gjj1.Models.group

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #tj {
        margin-top: 5%;
    }
</style>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal1">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/Login/xiugaik">
                    <table id="tbList">
                        <tr>
                            <td>修改</td>

                        </tr>
                        <tr>
                            <td>id:</td>
                            <td><input type="text" name="getid"></td>
                        </tr>

                        <tr>
                            <td>用户组名:</td>
                            <td><input type="text" name="getgname"></td>
                        </tr>


                    </table>
                    <div>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox1" value="option1" name="a1"> 选项 1
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox2" value="" name="a2"> 选项 2
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox3" value="option3" name="a3"> 选项 3
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox4" value="option4" name="a4"> 选项 4
                        </label>
                    </div>

                    
                       <input type="submit" value="确定修改" />@Html.ActionLink("返回", "Index", "Home")
                 
                </form>
</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    var jss = "@(Session["permission"])";
$(function () {
    if (jss == "普通权限") {
        alert("你没有足够权限访问该页面");
        // alert(jss);
        $('#tj').hide();
    }
})
</script>