
@{
    ViewBag.Title = "ModifyGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post" action="/Login/Getc">
    <label for="name">管理员</label>
    <div>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1" name="a1"> 选项 1
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox2" value="" name="a2"> 选项 2
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3" name="a3"> 选项 3
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox4" value="option4" name="a4"> 选项 4
        </label>
    </div>
    <label for="name">高级用户</label>
    <div>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1" name="b1"> 选项 1
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2" name="b2"> 选项 2
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3" name="b3"> 选项 3
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox4" value="option4" name="b4"> 选项 4
        </label>
    </div>
    <label for="name">普通用户</label>
    <div>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1" name="c1"> 选项 1
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2" name="c2"> 选项 2
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3" name="c3"> 选项 3
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox4" value="option4" name="c4"> 选项 4
        </label>
    </div>
    <label for="name">游客</label>
    <div>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1" name="d1"> 选项 1
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2" name="d2"> 选项 2
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3" name="d3"> 选项 3
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox4" value="option4" name="d4"> 选项 4
        </label>
    </div>
    <input type="submit" value="提交">
</form>